.text-huge {
  font-size: 5rem;
  font-weight: 1000;
}

.text-large {
    font-size: 3rem;
    font-weight: 1000;
}

.text-medium {
    font-size: 2rem;
    font-weight: 1000;
}

.text-small {
    font-size: 1.5rem;
    font-weight: 1000;
}